.login-hero-main {
    display: flex;
    margin-top: 5rem;
}

.login-hero-left h1 {
    width: 90%;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: "Montserrat", serif;
}

.login-hero-left #text {
    font-family: "Lato", serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 20px;
    width: 80%;
}


.login-hero-main button {
    font-family: "Roboto", serif;
    padding: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    width: 10rem;
}


@keyframes borderAnimation {
    0% {
        border-color: #a88218;
    }

    25% {
        border-color: #ff0000;
    }

    50% {
        border-color: #00ff00;
    }

    75% {
        border-color: #0000ff;
    }

    100% {
        border-color: #a88218;
    }
}

.login-hero-main button#learn {
    border: 2px solid;
    animation: borderAnimation 3s infinite;
}

.login-hero-main button#learn:hover {
    background: transparent;
    text-transform: uppercase;
    background-color: black;
    color: white;
}

.login-hero-card {
    background-color: #252525;
    display: flex;
    margin-top: 3rem;
    padding: 2.5rem 1rem;
    border-radius: 30px 30px 0 0;
}

.login-hero-card .left,
.login-hero-card .right {
    display: flex;
}

.login-hero-card .right {
    margin-left: 0.1rem;
}

.login-hero-card .left h3,
.login-hero-card .right h3 {
    font-size: 1rem;
}

.login-hero-card .left .text,
.login-hero-card .right .text {
    color: white;
    font-family: "Roboto", serif;
    margin-top: 6%;
    margin-left: 0.5rem;
}

.login-hero-card .left .text p,
.login-hero-card .right .text p {
    font-size: 0.7rem;
}

.login-hero-right {
    width: 90%;
    height: 90%;
}

.login-hero-right img {
    width: 100%;
    height: 100%;
}

@media (min-width: 1281px) {

    .login-hero-left h1 {
        font-size: 4rem;
    }

    .login-hero-left #text {
        font-size: 22px;
    }

    .login-hero-card {
        width: 60%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .login-hero-main {
        flex-direction: row;
    }

    .login-hero-left h1 {
        font-size: 3.2rem;
    }

    .login-hero-left #text {
        font-size: 18px;
    }

    .login-hero-card {
        width: 65%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .login-hero-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-hero-left h1 {
        font-size: 2.5rem;
        width: 100%;
    }

    .login-hero-left #text {
        font-size: 16px;
        width: 90%;
    }

    .login-hero-card {
        flex-direction: column;
        width: 80%;
        padding: 2rem;
    }

    .login-hero-card .left,
    .login-hero-card .right {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .login-hero-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .login-hero-left h1 {
        font-size: 2rem;
    }

    .login-hero-left #text {
        font-size: 15px;
    }

    .login-hero-card {
        width: 90%;
        padding: 1.5rem;
        flex-direction: column;
    }

    .login-hero-card .left,
    .login-hero-card .right {
        flex-direction: column;
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .login-hero-main {
        flex-direction: column;
        /* align-items: center; */
        /* text-align: center; */
        margin-top: 4rem;
    }

    .login-hero-right img {
        width: 17rem;
        height: 17rem;
    }

    .login-hero-left h1 {
        font-size: 1.8rem;
        width: 100%;
    }

    .login-hero-left #text {
        font-size: 14px;
        width: 90%;
    }

    .login-hero-main button {
        width: 8rem;
        padding: 0.6rem;
    }

    .login-hero-card {
        width: 100%;
        /* padding: 1rem; */
        /* flex-direction: column; */
    }

    .login-hero-card .left,
    .login-hero-card .right {
        flex-direction: column;
        text-align: center;
    }

    .login-hero-card p {
        font-size: 0.6rem;
    }


}