/* Default Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: black;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left {
    font-size: 1.5rem;
    font-weight: 900;
}

.navbar button {
    background: black;
    color: white;
    border: 1px solid black;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    border: 2px solid;
    animation: borderAnimation 3s infinite;
}

.navbar button.sign-up {
    margin-right: 10px;
}

.navbar .sign-up {
    background: transparent;
    color: black;
    border: 2px solid black;
}

.navbar .sign-up:hover {
    background: black;
    color: white;
}

@keyframes borderAnimation {
    0% {
        border-color: #a88218;
    }

    25% {
        border-color: #ff0000;
    }

    50% {
        border-color: #00ff00;
    }

    75% {
        border-color: #0000ff;
    }

    100% {
        border-color: #a88218;
    }
}

.navbar button:hover {
    background: transparent;
    color: black;
    transition: 0.5s;
}

.navbar a:hover {
    padding: 5px;
    color: crimson;
    /* border-top: 2px solid black; */
    border-bottom: 2px solid crimson;
    letter-spacing: 1px;
    /* transition: 1s; */
}

.navbar li {
    cursor: pointer;
}

.mobile-auth {
    display: none;
}

/* Responsive Design */
@media (min-width: 320px) and (max-width: 480px) {
    .hamburger {
        display: none;
    }

    .navbar-right {
        display: none;
    }

    .mobile-auth {
        display: block;
        display: flex;
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        /* Hide the menu by default on small screens */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .navbar-right {
        display: none;
    }

    .mobile-auth {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .mobile-auth button {
        display: block;
        margin: 10px auto;
        width: 80%;
        max-width: 200px;
    }

    .navbar-menu.active {
        display: flex;
        /* Show the menu when active */
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }
}

@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
}