.explore {
    margin: 0rem -2em;
    background: #FFFFDD;
    padding: 2rem;
}

.explore .text {
    display: flex;
    gap: 10em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.text-left {
    font-size: 1.1rem;
}

.text-right {
    font-size: 1.2rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: filter 0.3s ease-in-out;
}

.card img:hover {
    filter: brightness(1.2);
}

.card1,
.card2,
.card3 {
    background-color: white;
    border-radius: 10px;
}

.card-text {
    padding: 1.5rem;
}

.card-text h3 {
    margin-top: -1rem;
    margin-bottom: 2rem;
}

.card-text p {
    margin-bottom: 1rem;
}

.card-text button {
    padding: 1rem 2rem;
    background: #FFFFDD;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.card-text button:hover {
    background: #e0e0e0;
    transform: scale(1.05);
}

.explore-2 {
    margin-top: 7rem;
}

.explore-title {
    margin-bottom: 5em;
    text-align: center;
    font-size: 1.5rem;

}

@media (min-width: 320px) and (max-width: 480px) {
    .explore {
        margin: 0rem -1em;
        padding: 1rem;
    }

    .explore .text {
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }

    .explore .text-left {
        font-size: 0.8rem;
    }

    .explore-title {
        font-size: 1rem;
        margin-bottom: 1rem;

    }

    .card {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card img {
        border-radius: 5px;
    }

    .card-text {
        padding: 1rem;
    }

    .card-text h3 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .card-text button {
        padding: 0.5rem 1rem;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .explore {
        margin: 0rem -1.5em;
        padding: 1.5rem;
    }

    .explore .text {
        flex-direction: column;
        gap: 2em;
        text-align: center;
    }

    .explore .text-left {
        font-size: 1rem;
    }

    .explore-title {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .card {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .card img {
        border-radius: 8px;
    }

    .card-text {
        padding: 1.2rem;
    }

    .card-text h3 {
        margin-top: -0.5rem;
        margin-bottom: 1.5rem;
    }

    .card-text button {
        padding: 0.8rem 1.5rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1280px) {}

@media (min-width: 1281px) {}